
html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.carousel-container {
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #8B5CF6, #EC4899);
  font-family: 'Montserrat', sans-serif;
}
.carousel {
  position: relative;
  width: 23rem;
  height: 23rem;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: #9CA3AF;
  text-align: center; 
  transition: all 0.3s ease-out;
}

.card p {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.card h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.7em;
  color: #1F2937;
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  border-radius: 50%;
}

.nav.left {
  transform: translateX(-100%) translateY(-50%);
}

.nav.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.card pre {
  background-color: #F3F4F6;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.card code {
  color: #1F2937;
}
.navigation {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-image: linear-gradient(45deg, #696969, black);
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}
.nav-li {
  display: inline-block;
  margin-right: 80px;
  text-decoration: none; 
  border-radius: 20px;
  width: 90px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 30px;
}

.nav-li:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: aliceblue; 
}
.nav-link:hover {
  color: #FF8C00;
  outline: 2px solid #FF8C00;
  border-radius: 20px;
  width: 90px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 30px;
}

.nav-btn-left {
height: 30px;
width: 90px;
display: flex;
align-items: center; 
justify-content: center;
margin-left: 90px;
}
.nav-btn-rifht {
  margin-right: 200px;
display: flex;
align-items: center;
justify-content: center;
}
.nav-btn {
  background: none;
  border: none;
  color: white;
}
.nav-btn:hover {
  background: none;
  color: #FF8C00;
}
.profil {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background: none;
  border: none;
}

.nav-btn-rifht:hover {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  color: orange;
  outline: 2px solid orange; 
}

.nav-btn-rifht:hover svg {
  fill: orange; 
}
.icon {
  fill: #fff;
}
.profile {
  width: 120px;
}


.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(45deg, #8B5CF6, #EC4899);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.title-profile {
  display: flex;
align-items: center;
justify-content: center;
}
.paragraf {
  display: flex;
  align-items: center;
  justify-content: center;
}
#avatar-container {
  cursor: pointer;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

#modal-close {
  margin-top: 10px;
}

#avatar-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.avatar-option {
  width: 80px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
}
.avatar-container-position {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.leave-btn {
  height: 50px;
  width: 150px;
 color: black;
 background: none;
 border: none;
 margin-top: 100px;
 border-radius: 30px;
}
.leave-btn:hover {
color: #FF8C00;
outline: 2px solid orange; 
}
.container-position {
  display: flex;
  align-items: center;
  justify-content: center;
}
